## Vader를 통한 감정분석 수행

In [1]:
import pandas as pd

def read_data():
    hyatt= pd.read_csv("hyatt_comment_final",index_col=[0]).reset_index()
    hilton=pd.read_csv("hilton_comment_final",index_col=[0]).reset_index()
    holiday=pd.read_csv("holiday_comment_final",index_col=[0]).reset_index()
    wyndham=pd.read_csv("wyndham_comment_final",index_col=[0]).reset_index()
    
    return (hilton,hyatt,holiday,wyndham)
hilton,hyatt,holiday,wyndham=read_data()
hilton.head()

   post_id                                      comment_token
0        1  [['❤️❤️❤️', '💙🍪'], ['👏', 'we', "'re", 'pretty'...
1        2  [['This', 'is', 'awesome', '!', '!', '!', '👏👏👏...
2        3  [['Build', 'with', 'immortal', 'love', '👑'], [...
3        4  [['.', '.', '.', '.', '#', 'staugustine', '#',...
4        5  [['.', '.', '.', '.', '#', 'boca', '#', 'bocar...

In [4]:
import ast 
def string_to_list(df,columns):
    for col in columns:
        df[col]=df[col].apply(lambda x: ast.literal_eval(x))
        
for hotel in (hilton,hyatt,holiday,wyndham):
    string_to_list(hotel,["comment_token"])
print(type(hilton["comment_token"][0]))

<class 'list'>

In [12]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

senti_analyzer= SentimentIntensityAnalyzer()
score_list=[]
pos_list=[]
neg_list=[]
for comment_list in hilton["comment_token"][0]:
    sentence=" ".join(comment_list)
    print(sentence)
    senti_scores=senti_analyzer.polarity_scores(sentence)
    score_list.append(senti_scores["compound"])
    pos_list.append(senti_scores["pos"])
    neg_list.append(senti_scores["neg"])
print(score_list)
print(neg_list)
print(pos_list)

❤️❤️❤️ 💙🍪
👏 we 're pretty excited about it !
🤤❤️ enjoy ! We hope you can try it at home 😍
OMG WHAT THIS IS AWESOME 🤯🤯🤯
I miss staying at Hilton hotels so much ! So my dad made these for me this morning haha
This is the best news ! ! ! Can ’ t wait to bake these at home 🍪 ❤️THANK YOU
❤️❤️❤️ super team thank you you 're very welcome !
I love these cookies . We must make them when this is over . yes please ! ! ! do n't forget to tag us ! We ca n't wait to see how they turn out .
🤤🤤
IMPORTANT God I miss those cookies !
remember the yummy cookie ? ? 🍪🍪 yup





[0.0, 0.7088, 0.75, 0.7034, 0.4003, 0.7249, 0.8746, 0.9008, 0.0, 0.5147, 0.5803, 0.0, 0.0, 0.0, 0.0, 0.0]
[0.0, 0.0, 0.0, 0.0, 0.08, 0.0, 0.0, 0.0, 0.0, 0.188, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[0.0, 0.596, 0.444, 0.492, 0.165, 0.281, 0.625, 0.325, 0.0, 0.578, 0.429, 0.0, 0.0, 0.0, 0.0, 0.0]

In [14]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

def compound_score(text):
    senti_analyzer=SentimentIntensityAnalyzer()
    compound_list=[]
    for comment_list in text:
        sentence=" ".join(comment_list)
        senti_scores=senti_analyzer.polarity_scores(sentence)
        compound_list.append(senti_scores["compound"])
    return compound_list

for hotel in (hilton,hyatt,holiday,wyndham):
    hotel["compound"]=hotel["comment_token"].apply(lambda x : compound_score(x))
hyatt.head()

,post_id,comment_token,compound
0,1,"[[🤗, 😀], [Sounds, awesome, !, 👍🏼😎❤️, 😀, we, co...","[0.0, 0.8165, 0.0, 0.0, 0.0, 0.3612, 0.937, 0...."
1,2,"[[I, love, what, they, doing, 😍, we, absolutel...","[0.6696, 0.0, 0.0, 0.9811, 0.6705]"
2,3,"[[hi, ,, I, would, like, to, know, how, can, I...","[0.7717, 0.0, 0.0, 0.8906, 0.836]"
3,4,"[[I, booked, chandighar, and, amritsar, but, I...","[0.797, 0.5411, 0.8302, 0.0, 0.4926, 0.1007, 0..."
4,5,"[[I, 'm, missing, Grand, Hyatt, Rio, de, Janei...","[0.9057, 0.0, 0.915, 0.0, 0.7405, 0.4404, 0.72..."

In [15]:
def positive_score(text):
    senti_analyzer=SentimentIntensityAnalyzer()
    pos_list=[]
    for comment_list in text:
        sentence=" ".join(comment_list)
        senti_scores=senti_analyzer.polarity_scores(sentence)
        pos_list.append(senti_scores["pos"])
    return pos_list

def negative_score(text):
    senti_analyzer=SentimentIntensityAnalyzer()
    neg_list=[]
    for comment_list in text:
        sentence=" ".join(comment_list)
        senti_scores=senti_analyzer.polarity_scores(sentence)
        neg_list.append(senti_scores["neg"])
    return neg_list
for hotel in (hilton,hyatt,holiday,wyndham):
    hotel["positive"]=hotel["comment_token"].apply(lambda x : positive_score(x))
    hotel["negative"]=hotel["comment_token"].apply(lambda x : negative_score(x))
hyatt.head()

def save_data(hyatt,hilton,holiday,wyndham):
    hyatt.to_csv("hyatt_comment_final",index=False)
    hilton.to_csv("hilton_comment_final",index=False)
    holiday.to_csv("holiday_comment_final",index=False)
    wyndham.to_csv("wyndham_comment_final",index=False)
save_data(hyatt,hilton,holiday,wyndham)

In [16]:
hyatt.head()

,post_id,comment_token,compound,positive,negative
0,1,"[[🤗, 😀], [Sounds, awesome, !, 👍🏼😎❤️, 😀, we, co...","[0.0, 0.8165, 0.0, 0.0, 0.0, 0.3612, 0.937, 0....","[0.0, 0.651, 0.0, 0.0, 0.0, 0.714, 0.525, 0.55...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
1,2,"[[I, love, what, they, doing, 😍, we, absolutel...","[0.6696, 0.0, 0.0, 0.9811, 0.6705]","[0.391, 0.0, 0.0, 0.614, 0.161]","[0.0, 0.0, 0.0, 0.0, 0.057]"
2,3,"[[hi, ,, I, would, like, to, know, how, can, I...","[0.7717, 0.0, 0.0, 0.8906, 0.836]","[0.278, 0.0, 0.0, 0.234, 0.279]","[0.0, 0.0, 0.0, 0.0, 0.0]"
3,4,"[[I, booked, chandighar, and, amritsar, but, I...","[0.797, 0.5411, 0.8302, 0.0, 0.4926, 0.1007, 0...","[0.196, 0.411, 0.23, 0.0, 0.516, 0.16, 0.444, ...","[0.105, 0.0, 0.0, 0.0, 0.0, 0.14, 0.0, 0.059, ..."
4,5,"[[I, 'm, missing, Grand, Hyatt, Rio, de, Janei...","[0.9057, 0.0, 0.915, 0.0, 0.7405, 0.4404, 0.72...","[0.339, 0.0, 0.418, 0.0, 0.116, 0.172, 0.388, ...","[0.052, 0.0, 0.05, 0.0, 0.0, 0.0, 0.0, 0.0, 0...."

In [19]:
def read_data():
    hyatt= pd.read_csv("hyatt_final",index_col=[0]).reset_index()
    hilton=pd.read_csv("hilton_final",index_col=[0]).reset_index()
    holiday=pd.read_csv("holiday_final",index_col=[0]).reset_index()
    wyndham=pd.read_csv("wyndham_final",index_col=[0]).reset_index()
    
    return (hilton,hyatt,holiday,wyndham)

def string_to_list(df,columns):
    for col in columns:
        df[col]=df[col].apply(lambda x: ast.literal_eval(x))
        
        
hilton,hyatt,holiday,wyndham=read_data()  

for hotel in (hilton,hyatt,holiday,wyndham):
    string_to_list(hotel,["caption_token"])

In [25]:

def compound_score(text):
    senti_analyzer=SentimentIntensityAnalyzer()
    sentence=" ".join(text)
    senti_scores=senti_analyzer.polarity_scores(sentence)
    
    return senti_scores["compound"]

def pos_score(text):
    senti_analyzer=SentimentIntensityAnalyzer()
    sentence=" ".join(text)
    senti_scores=senti_analyzer.polarity_scores(sentence)
    
    return senti_scores["pos"]

def neg_score(text):
    senti_analyzer=SentimentIntensityAnalyzer()
    sentence=" ".join(text)
    senti_scores=senti_analyzer.polarity_scores(sentence)
    
    return senti_scores["neg"]

for hotel in (hilton,hyatt,holiday,wyndham):
    hotel["compound"]=hotel["caption_token"].apply(lambda x : compound_score(x))
    hotel["positive"]=hotel["caption_token"].apply(lambda x : pos_score(x))
    hotel["negative"]=hotel["caption_token"].apply(lambda x : neg_score(x))
    
hilton.head()

,date,caption,id,profile,type,caption_and_hashtags,is_video,view_count,video_duration,likes,comments,caption_tag,real_ugc,caption_token,compound,positive,negative
0,2020-04-09 16:33:28,"Over the past few weeks, we’ve gotten lots of ...",1,hilton,GraphVideo,[],True,1730.0,30.3,194,29,['@doubletree)'],False,"[Over, the, past, few, weeks, ,, we, ’, ve, go...",0.9100,0.178,0.019
1,2020-04-06 12:37:22,One million ‘thank-yous’ to the frontline medi...,2,hilton,GraphImage,['hotelsforheroes'],False,NaN,NaN,412,19,['@AmericanExpress'],False,"[One, million, ‘, thank-yous, ’, to, the, fron...",0.9022,0.189,0.000
2,2020-04-03 15:31:01,We’re joining with hotels across the world to ...,3,hilton,GraphSidecar,['hope'],False,NaN,NaN,418,7,[],False,"[We, ’, re, joining, with, hotels, across, the...",0.8750,0.312,0.000
3,2020-03-11 15:54:11,We tend to lose track of things during a stay ...,4,hilton,GraphImage,[],False,NaN,NaN,98,1,['@embassysuitesstaugustinebeach:'],False,"[We, tend, to, lose, track, of, things, during...",-0.4019,0.000,0.172
4,2020-03-09 18:02:10,"From Lake Boca to the beach, @bocaresort will ...",5,hilton,GraphImage,[],False,NaN,NaN,227,7,['@bocaresort'],False,"[From, Lake, Boca, to, the, beach, ,, will, ta...",0.0000,0.000,0.000

In [26]:
def save_data(hyatt,hilton,holiday,wyndham):
    hyatt.to_csv("hyattt_final",index=False)
    hilton.to_csv("hiltont_final",index=False)
    holiday.to_csv("holiday_final",index=False)
    wyndham.to_csv("wyndham_final",index=False)
save_data(hyatt,hilton,holiday,wyndham)