In [1]:
import instaloader 

L=instaloader.Instaloader(download_pictures=False,download_video_thumbnails=False,download_videos=False,download_geotags=True,download_comments=True)

L.login("sunkeun_","dhrguswm1!")
print(L.context.username)

C:\Users\sunkeun_jo\anaconda3\lib\site-packages\win_unicode_console\__init__.py:31: RuntimeWarning: sys.stdin.encoding == 'cp949', whereas sys.stdout.encoding == 'UTF-8', readline hook consumer may assume they are the same
  readline_hook.enable(use_pyreadline=use_pyreadline)

sunkeun_

In [2]:
profile= instaloader.Profile.from_username(L.context,"hyatt")
post_list=[]

# hilton의 모든 post를 한 번 뽑아보도록 하겠습니다
print("fetching all posts of a profile {}".format(profile.username))

fetching all posts of a profile hyatt

In [4]:
import pandas as pd 
import tqdm
contend_list=[]
post_list=[]
for post in tqdm.tqdm(profile.get_posts()):
    contend_list.append([post.date,post.caption])
    
df=pd.DataFrame(contend_list,columns=["date","caption"])
df.to_csv("hyatt_post",encoding="utf-8")
df.head()

963it [00:39, 31.17it/s]

Too many queries in the last time. Need to wait 622 seconds, until 21:18.

1467it [11:27,  2.13it/s]

                 date                                            caption
0 2020-04-19 14:07:37  We want to provide inspiration for your next v...
1 2020-04-18 14:04:37  Reminders to unplug and stay present are espec...
2 2020-04-17 14:07:08  Caring For Our Community: @grandhyattsd creati...
3 2020-04-16 15:26:35  Caring For Our Colleagues: @miravalresorts Aus...
4 2020-04-14 14:03:22  In a dedicated effort to help our colleagues w...

In [5]:
profile= instaloader.Profile.from_username(L.context,"hilton")
post_list=[]

# hilton의 모든 post를 한 번 뽑아보도록 하겠습니다
print("fetching all posts of a profile {}".format(profile.username))

import pandas as pd 
import tqdm
contend_list=[]
post_list=[]
for post in tqdm.tqdm(profile.get_posts()):
    contend_list.append([post.date,post.caption])
    
df=pd.DataFrame(contend_list,columns=["date","caption"])
df.to_csv("hilton_caption",encoding="utf-8")
df.head()

0it [00:00, ?it/s]

fetching all posts of a profile hilton

70it [00:02, 33.06it/s]

                 date                                            caption
0 2020-04-15 16:01:01  Miss this year’s Cherry Blossom festival in DC...
1 2020-04-12 21:52:27  As we dream of the day we can once again explo...
2 2020-04-09 16:33:28  Over the past few weeks, we’ve gotten lots of ...
3 2020-04-06 12:37:22  One million ‘thank-yous’ to the frontline medi...
4 2020-04-03 15:31:01  We’re joining with hotels across the world to ...

In [6]:
profile= instaloader.Profile.from_username(L.context,"holidayinn")
post_list=[]

# hilton의 모든 post를 한 번 뽑아보도록 하겠습니다
print("fetching all posts of a profile {}".format(profile.username))

import pandas as pd 
import tqdm
contend_list=[]
post_list=[]
for post in tqdm.tqdm(profile.get_posts()):
    contend_list.append([post.date,post.caption])
    
df=pd.DataFrame(contend_list,columns=["date","caption"])
df.to_csv("holiday_post",encoding="utf-8")
df.head()

0it [00:00, ?it/s]

fetching all posts of a profile holidayinn

363it [00:14, 29.81it/s]

Too many queries in the last time. Need to wait 624 seconds, until 21:30.

670it [10:55,  1.02it/s]

                 date                                            caption
0 2020-04-16 17:34:06  In support of our frontline first responders, ...
1 2020-04-07 12:37:02  Given the uncertainty around COVID-19 and the ...
2 2020-03-31 14:09:16  Caring for people is what we do in hospitality...
3 2020-03-06 17:10:13  It's finally Friday! Nothing like that #Friday...
4 2020-02-27 21:06:10  How many times have you wished for an extra da...

In [7]:
profile= instaloader.Profile.from_username(L.context,"wyndham")
post_list=[]

# hilton의 모든 post를 한 번 뽑아보도록 하겠습니다
print("fetching all posts of a profile {}".format(profile.username))

import pandas as pd 
import tqdm
contend_list=[]
post_list=[]
for post in tqdm.tqdm(profile.get_posts()):
    contend_list.append([post.date,post.caption])
    
df=pd.DataFrame(contend_list,columns=["date","caption"])
df.to_csv("wyndham_post",encoding="utf-8")
df.head()

0it [00:00, ?it/s]

fetching all posts of a profile wyndham

382it [00:21, 17.66it/s]

                 date                                            caption
0 2020-04-17 14:37:53  The safety of our guests and team members arou...
1 2020-04-17 03:24:19  We are—and always have been—committed to makin...
2 2020-04-16 21:19:09  Calling all essential workers: In honor of our...
3 2020-03-25 14:24:25  The safety of our guests and team members arou...
4 2020-03-11 17:17:22  After spending 10 hours hopping from ride to r...